*{
    font-family: 'Poppins';
    box-sizing: border-box;
    overflow: hidden;
}

body{
    margin: 0;
}

header{
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#d89cf6 50%, #f6f4e6 50%);
}

header:before{
    position: absolute;
    content: 'INTRO';
    right: -70px;
    bottom: -110px;
    font-size: 14rem;
    font-weight: bolder;
    opacity: .1;
}

header h1{
    position: relative;
    font-size: 8vw;
    margin: 0;
    padding: 0 25px;
    font-weight: bolder;
    opacity: .87;
    background: #f6f4e6;
    box-shadow: 0 24px 20px rgba(0,0,0,.1);
}

header h1::before{
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e1ccec;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}

header h1:hover::before{
    transform: scaleX(1);
    transform-origin: left;    
}

@media all and (max-width: 678px) {
    header:before{
        content: 'INTRO';
        right: -40px;
        bottom: -60px;
        font-size: 7rem;
        font-weight: bolder;
        opacity: .1;
    }
  }